{% extends 'base.html' %}

{% block title %}这里是首页{% endblock %}


{% block head %}{% endblock %}

{% block body %}
<div class="row" style="margin-top 20px">
    <div class="col">
    </div>
    <div class="col-10">
    <ul class="question-ul">
        {% for question in questions %}
                <li>
            <div class="side-question">
            </div>
            <div class="question-main">
                <p class="question-title"><a href="{{ url_for('qa.question_detail',question_id =question.id) }}">{{ question.title }}</a></p>
                <p class="question-content">{{ question.content }}</p>
                <p class="question-detail">
                    <span class="question-author">{{ question.author.user_name }}</span>
                    <span class="question-time">{{question.create_time}}</span>

                    </p>
            </div>
        </li>

        {% endfor %}
    </ul>
    <div class="col">
    </div>
    </div>
</div>



{% endblock %}